.buttonAdd {
    width: 200px;
    height: 40px;
    background-color: #6C45CE;
    border: 1px solid #FCFCFC;
    border-radius: 8px;

    font-family: Poppins;
    font-style: normal;
    color: white;
    position: relative;
    top: 350px;
    left: 270px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonAdd:hover {
    background-color: #8E6CFF;
    transform: scale(1.05); 
}

